<!DOCTYPE html>
<!--
   __  __    _      _                                 __            _      __                           
  / /_/ /_  (_)____(_)________ ___  __  ______ ______/ /____  _____(_)____/ /__     ____  _________ _
 / __/ __ \/ / ___/ / ___/ __ `__ \/ / / / __ `/ ___/ __/ _ \/ ___/ / ___/ //_/    / __ \/ ___/ __ `/
/ /_/ / / / (__  ) (__  ) / / / / / /_/ / /_/ (__  ) /_/  __/ /  / (__  ) ,<   _  / /_/ / /  / /_/ / 
\__/_/ /_/_/____/_/____/_/ /_/ /_/\__, /\__,_/____/\__/\___/_/  /_/____/_/|_| (_) \____/_/   \__, /  
                                 /____/                                                     /____/   

  you shouldn't be here, so scram!

-->
<html>
  <head>
    <title>paweł waleczek | *</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag :modernizr %>
    <%= requirejs_include_tag "boot" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      window.env = '<%= ENV['RAILS_ENV'] %>';
    </script>
  </head>
  <body>
  	<%= yield %>
  </body>
</html>
